<script type="text/javascript">
    $(document).ready(function () {
        initWizard();
    });

    function initWizard() {
        var navListItems = $('div.setup-panel div a'),
                allWells = $('.setup-content'),
                allNextBtn = $('.nextBtn'),
                allPrevBtn = $('.prevBtn');

        allWells.hide();

        navListItems.click(function (e) {
            e.preventDefault();
            var $target =
            $($(this).attr('href')),
                $item = $(this);
            var nextStepWizard = $(this).text();
            var inputIdsPrefix = "question-step-" + $("#activeQuestion").val() + "-";

            var numberOfSteps = $("input[id^=" + inputIdsPrefix + "]").size();
            switch (numberOfSteps) {
                case 2:
                    if (nextStepWizard == 1)
                        $('.stepwizard .progress-bar').animate({width: '0%'}, 0);
                    if (nextStepWizard == 2)
                        $('.stepwizard .progress-bar').animate({width: '100%'}, 0);
                    break;
                case 3:
                    if (nextStepWizard == 1)
                        $('.stepwizard .progress-bar').animate({width: '0%'}, 0);
                    if (nextStepWizard == 2)
                        $('.stepwizard .progress-bar').animate({width: '50%'}, 0);
                    if (nextStepWizard == 3)
                        $('.stepwizard .progress-bar').animate({width: '100%'}, 0);
                    break;
                case 4:
                    if (nextStepWizard == 1)
                        $('.stepwizard .progress-bar').animate({width: '0%'}, 0);
                    if (nextStepWizard == 2)
                        $('.stepwizard .progress-bar').animate({width: '33%'}, 0);
                    if (nextStepWizard == 3)
                        $('.stepwizard .progress-bar').animate({width: '67%'}, 0);
                    if (nextStepWizard == 4)
                        $('.stepwizard .progress-bar').animate({width: '100%'}, 0);
                    break;
                case 6:
                    if (nextStepWizard == 1)
                        $('.stepwizard .progress-bar').animate({width: '0%'}, 0);
                    if (nextStepWizard == 2)
                        $('.stepwizard .progress-bar').animate({width: '20%'}, 0);
                    if (nextStepWizard == 3)
                        $('.stepwizard .progress-bar').animate({width: '40%'}, 0);
                    if (nextStepWizard == 4)
                        $('.stepwizard .progress-bar').animate({width: '60%'}, 0);
                    if (nextStepWizard == 5)
                        $('.stepwizard .progress-bar').animate({width: '80%'}, 0);
                    if (nextStepWizard == 6)
                        $('.stepwizard .progress-bar').animate({width: '100%'}, 0);
                    break;

            }

            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-success').addClass('btn-default');
                //navListItems.addClass('btn-default');
                    $item.addClass('btn-success');
                allWells.hide();
                    $target.show();
                    $target.find('input:eq(0)').focus();
            }
        });

        allNextBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                    curStepBtn = curStep.attr("id"),
                    nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                    curInputs = curStep.find("input[type='text'],input[type='url']"),
                    isValid = true;

            $(".form-group").removeClass("has-error");
            for (var i = 0; i < curInputs.length; i++) {
                if (!curInputs[i].validity.valid) {
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }

            if (isValid) {
                nextStepWizard.removeAttr('disabled').trigger('click');
            }
        });


        allPrevBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                    curStepBtn = curStep.attr("id"),
                    prevStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().prev().children("a");

            prevStepWizard.removeAttr('disabled').trigger('click');
        });


        $('div.setup-panel div a.btn-success').trigger('click');

    }
</script>
