#* @vtlvariable name="subjects" type="java.util.ArrayList<com.example.Objects.SubjectObject>" *#
#* @vtlvariable name="user" type="com.example.Objects.UserObject" *#

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$siteName</title>
    #parse( "css.vm" )
    #parse( "scripts.vm" )
</head>
<body>

<div id="wrapper">
    #parse( "main_navbar.vm" )

    <div id="page-wrapper">



    </div>
</div>
<!-- /#wrapper -->
</body>
</html>
